* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: rgb(0, 31, 71);
  background: linear-gradient(
    332deg,
    rgba(0, 31, 71, 1) 10%,
    rgba(0, 14, 41, 1) 29%,
    rgba(14, 15, 102, 1) 100%
  );
}

.circle-1 {
  width: 140px;
  height: 140px;
  transform: rotate(30deg);
  background: rgb(95, 165, 255);
  background: linear-gradient(
    305deg,
    rgba(95, 165, 255, 1) 10%,
    rgba(40, 113, 255, 1) 43%,
    rgba(0, 1, 255, 1) 100%
  );
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 35%;
}

.circle-2 {
  width: 250px;
  height: 250px;
  background: rgb(95, 165, 255);
  background: linear-gradient(
    305deg,
    rgba(95, 165, 255, 1) 10%,
    rgba(40, 113, 255, 1) 43%,
    rgba(0, 1, 255, 1) 100%
  );
  border-radius: 50%;
  position: absolute;
  bottom: 20%;
  left: 55%;
}

.card {
  width: 400px;
  height: 500px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 10px 40px 40px rgba(0, 0, 0, 0.3);
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.current-temp {
  transform: rotate(-90deg);
  position: absolute;
  top: 40%;
  left: -130px;
}

h1 {
  color: rgba(51, 167, 255, 0.8);
  margin: 0 0 10px;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}
#myProgress {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.1);
}

#myBar {
  width: 0%;
  height: 3px;
  background-color: rgb(51, 167, 255);
  box-shadow: 5px 0 12px 4px rgb(51, 167, 255);
}

button {
  position: absolute;
  padding: 6px 12px;
  transform: rotate(90deg);
  bottom: -280px;
  left: -175px;
}
